<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backend</title>
</head>
<body>
    <label>Введите имя</label>
    <input id="name" type="text" />
    <button id="createPDF" type="button"> Создать PDF </button>
    <script>
        document.getElementById('createPDF').addEventListener('click', () => {
            fetch('http://localhost:3000/', { method: "POST", 
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ name: document.getElementById('name').value})})
            .then((res) => {
                if (res.status === 200) {
                    alert("Файл успешно создан!")
                } else alert("Произошла ошибка!");
            })
        });
    </script>
</body>
</html>